<div class="row">
	<div class="col-xs-9 box">
		<h2 class="title-deco">Menber 一覧</h2>
		<!--Menber一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th><span class="profile-head">プロフィール</span></th>
					<th class="thead_center">名前</th>
					<th class="thead_center">自己紹介</th>
					<th class="thead_center">目標</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag(user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-img user-index-img", fallback: "no-image-mini.jpg") %></td>
					<td class="thead_center"><%= link_to user.name, user_path(user), class: "user_#{user.id}" %></td>
					<td class="thead_center"><%= user.introduction %></td>
					<td class="thead_center"><%= user.objective %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
