<title>ForIdeal</title>
<body>
	<div class="row about-message">
		<h3 class="Q-title1">フィットネスブーム</h3>
		<p class="Q-text">
		近年健康的なカラダ作りを目的としたフィットネスブームにより、<br>
		「ジムでのトレーニング」や外出自粛中の自宅でのトレーニング、所謂「宅トレ」を嗜む人達が増加している。<br>
		しかし、モチベーションが保てず目標の身体を得る前に挫折してしまったり、<br>
		正しい知識を身に付けずにトレーニングをすることで怪我に繋がってしまう人が多い。<br>
		本サイトは目標の身体を目指す人達や筋トレが好きな人達の
		<span class="essential">モチベーションの向上</span>と<span class="essential">情報や知識の共有</span>をする場所である。
		</p>

		<h3 class="Q-title2">理想の体型を目指す前に</h3>
		<p class="Q-text">
		Q1. 人の身体に必要な三大栄養素は？<br>
		Q2. 身体の中で最もカロリー消費が多い筋肉はどこ？<br>
		Q3. あなたは「何が目的で」「いつまでに」「何キロ」痩せたいですか？<br>
		答えはこのページの↓
		</p>

		<h3 class="Q-title3">〜サイトご利用にあたり〜</h3>
		<p class="Q-text">
		①まずは、ご自身のプロフィール編集画面から目標を立てましょう！<br>
		②スケジュールはご自身が行ったワークアウトの内容やワークアウトの計画を立てるために活用しましょう！<br>
		　まずは週1~2から始めてみるのがおすすめです！<br>
		③ホーム画面からご自身のワークアウトの結果を投稿しましょう！<br>
		④コメント欄はご自身のメモに使ったり、他のメンバーの投稿内容に対して褒め合うことに使用しましょう！<br>
		　※誹謗中傷は絶対に行わないでください<br>
		⑤ハートマークをクリックしていいねを送り合いましょう！<br>
		　<strong>以上、素敵なワークアウトライフを！！</strong>
		</p>
	</div>

	<div class="about-message-answer pull-right">
		<span class="answer-title">A1. 糖質、脂質、タンパク質<br></span>
			<p class="answer-text">
			解説：それぞれの1gあたりのカロリーは<br>
		　　糖質: 4kcal, 脂質: 9kcal, タンパク質: 4kcalです。<br>
		　　食事から摂取するカロリーは三大栄養素から成り立ちます。<br>
		　　ご自身の基礎代謝を目安に1日あたりの摂取カロリーを調整しましょう。<br>
		　　(例：基礎代謝1800kcal、運動代謝500kcalの場合、摂取カロリーを2000kcalにする)<br>
			</p>
		<span class="answer-title">A2. 脚 <br></span>
			<p class="answer-text">
			解説：臀部まで含めた下半身の筋肉は全身の筋肉の約70%を占めます。<br>
		　　基礎代謝が低い方は下半身の筋肉量を増やすのがおすすめです。<br>
		　　高重量を用いた速筋のトレーニングにより男らしい逞しい脚を、<br>
		　　低重量を用いた遅筋のトレーニングにより引き締まった健康的な脚を目指せます。<br>
		　　(スクワットを含めた脚のトレーニングは消費カロリーが高く、<br>
		　　運動強度も高いことから、身体への負担が大きくなるので注意して行いましょう。)<br>
			</p>
		<span class="answer-title">A3. モチベーションの継続のためには「目的と目標」が重要です。<br></span>
			<p class="answer-text">
		　　解説：自分の身体のことを知って理想の体型を手に入れましょう！
			</p>
	</div>
</body>
