<!DOCTYPE html>
<html>
	<head>
	<title>ForIdeal</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<script src="https://kit.fontawesome.com/06021ba2e9.js" crossorigin="anonymous"></script>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div class="row box">
		<h3>フィットネスブーム</h3>
		<p>
		近年健康的なカラダ作りを目的としたフィットネスブームにより、<br>
		「ジムでのトレーニング」や外出自粛中の自宅でのトレーニング、所謂「宅トレ」を嗜む人達が増加している。<br>
		しかし、モチベーションが保てず目標の身体を得る前に挫折してしまったり、<br>
		正しい知識を身に付けずにトレーニングをすることで怪我に繋がってしまう人が多い。<br>
		本サイトは目標の身体を目指す人達や筋トレが好きな人達のモチベーションの向上と情報や知識の共有をする場所である。
		</p>

		<h3>理想の体型を目指す前に</h3>
		<p>
		Q1. 人の身体に必要な三大栄養素は？<br>
		Q2. 身体の中で最もカロリー消費が多い筋肉はどこ？<br>
		Q3. あなたは「何を目的に」「いつまでに」「何キロ」痩せますか？<br>
		答えはこのページの↓
		</p>

		<p class="pull-right">
		<span style="color:red">A1. 糖質、脂質、タンパク質<br></span>
			解説：それぞれの1gあたりのカロリーは<br>
		　　糖質: 4kcal, 脂質: 9kcal, タンパク質: 4kcalです。<br>
		　　食事から摂取するカロリーは三大栄養素から成り立ちます。<br>
		　　ご自身の基礎代謝を目安に1日あたりの摂取カロリーを調整しましょう。<br>
		　　(例：基礎代謝1800kcal、運動代謝500kcalの場合、摂取カロリーを2000kcalにする)<br>
		<span style="color:red">A2. 脚 <br></span>
			解説：臀部まで含めた下半身の筋肉は全身の筋肉の約70%を占めます。<br>
		　　基礎代謝が低い方は下半身の筋肉量を増やすのがおすすめです。<br>
		　　高重量を用いた速筋のトレーニングにより男らしい逞しい脚を、<br>
		　　低重量を用いた遅筋のトレーニングにより引き締まった健康的な脚を目指せます。<br>
		　　(スクワットを含めた脚のトレーニングは消費カロリーが高く、<br>
		　　運動強度も高いことから、身体への負担が大きくなるので注意して行いましょう。)<br>
		<span style="color:red">A3. モチベーションの継続のためには「目的と目標」が重要です。<br></span>
		　　解説：自分の身体のことを知って理想の体型を手に入れましょう！
		</p>
		</div>
	</body>
</html>