<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<center class="top message", style="color:white;">
			<h2 class="display-4">〜For ideal(理想のために)〜</h2>
			<p>
			このwebサイトは「理想の身体を目指す人」のために作られた情報共有サービスです。<br>
			あなたの目指す理想の身体のために行った筋トレ、ヨガ、エクササイズなど、<br>
			様々な成果をシェアしてモチベーションを高めましょう！
			</p>
		</center>
	</div>
</div>
