<!DOCTYPE html>
<html>
	<head>
	<title>ForIdeal</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<script src="https://kit.fontawesome.com/06021ba2e9.js" crossorigin="anonymous"></script>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div class>
			<div class="container">
				<center class="top message", style="color:white;">
					<h2 class="display-4">〜For ideal(理想のために)〜</h2>
					<p>
					このwebサイトは「理想の身体を目指す人」のために作られた情報共有サービスです。<br>
					あなたの目指す理想の身体のために行った筋トレ、ヨガ、エクササイズなど、<br>
					様々な成果をシェアしてモチベーションを高めましょう！
					</p>
				</center>
			</div>
		</div>
	</body>
</html>
